@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
	    <div class="request-result">

	    </div>
	    <div>
		    <button id="DoAjax"> do Ajax POST calls</button>
			<button id="DoAjaxGet"> do Ajax GET calls</button>
			<span>Make 3 calls to API</span>
	    </div>
    </div>
</div>
@section scripts{
	<script>
		$(function () {
			var counter = 0;
			function getResumes(type, url) {
				$.ajax({
					async: true,
					url: url,
					type: type,
					success: function (data) {
						$('.request-result').append("<div class='result'>" + data + "</div>");
						counter--;
						if (counter == 0) $('#DoAjax, #DoAjaxGet').prop("disabled", false);
					},
					error: function () {

					}
				});
			}

			$('#DoAjax').click(function () {
				$('#DoAjax').prop("disabled", true);
				counter = 3;
				var url = "@Url.Action("SessionExampleSync", "Home")";
				getResumes("POST", url);
				getResumes("POST", url);
				getResumes("POST", url);
			});
			$('#DoAjaxGet').click(function () {
				$('#DoAjaxGet').prop("disabled", true);
				counter = 3;
				var url = "@Url.Action("SessionExampleAsync", "Home")";
				getResumes("GET", url);
				getResumes("GET", url);
				getResumes("GET", url);
			});
		})
</script>

}